<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form method="post" action="/signup">
	<input type="text" name="username">
	<input type="text" name="email">	
	<input type="text" name="password">

	<input type="submit" value="Sign up">
</form>
