<h1>Login Page</h1>

<form method="post" action="/login">
	<h3>Email</h3> 
	<input type="text" name="email"> <br>
	<h3>Password</h3>
	<input type="text" name="password"><br>
	<p><input type="submit" value="Login"></p>
</form>